<!DOCTYPE html>
<html>
    
    <head>
        <title><%= content_for?(:title) ? yield(:title) + ' | ' : '' %>Ben Constable - Programmer</title>
        
        <meta charset='UTF-8' />
        <meta name="description" content="Ben Constable, experienced web and games programmer from Brighton, UK" />
        <meta name="keywords" content="Ben Constable, Ben, Constable, web, games, programmer, Brighton, UK, video games, C++, PHP" />

        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="author" href="humans.txt" />

        <%= stylesheet_link_tag 'application', :media => 'all' %>
        <%= yield :stylesheets %>

        <!--[if lt IE 9]>
            <%= javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js' %>
        <![endif]-->
    </head>

    <body class="<%= yield :body_class %>">

        <%= yield :body %>

        <script type='text/javascript'>
            /*
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28221222-1']);
            _gaq.push(['_setDomainName', 'benconstable.co.uk']);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            */
        </script>

        <%= javascript_include_tag 'application' %>
        <%= yield :javascripts %>

    </body>

</html>
<!-- Copyright &copy; 2011 Ben Constable http://www.benconstable.co.uk -->