- content_for :body do
  %header.header.container
    = link_to image_tag('logo.png', :alt => 'Ben Constable'), root_path

    %p Software developer from Brighton, UK_

    %ul.nav
      %li.home= link_to 'About Me', root_path
      %li.cv= link_to 'CV', cv_path
      %li= link_to 'GitHub', 'https://github.com/BenConstable'

  .main-content-wrapper
    %article.main-content.container
      = yield :content

  %footer.footer.container
    %section.contact
      %h1 Contact

      %p $ Email: ben@benconstable.co.uk
      %p $ Phone: +44 (0)7813 073964
      %p $ Twitter: <a href="http://twitter.com/brconstable">@brconstable</a>

    %section.credits
      %p.thanks
        This site was built by Ben Constable in #{Time.new.year}, with a little help from <a href="http://rubyonrails.org/">Ruby on Rails</a>. Design by my good friend <a href="https://bengourley.co.uk">Ben Gourley</a>.

= parent_layout 'application'
