- content_for :body do
  %header.header.container
    = link_to image_tag('logo.png', :alt => 'Ben Constable'), root_path

    %p All purpose programmer from Brighton, UK_

    %ul.nav
      %li.home= link_to 'About me', root_path
      %li.cv= link_to 'CV', cv_path
      %li= link_to 'Github', 'https://github.com/BenConstable'

  .main-content-wrapper
    %article.main-content.container
      = yield :content

  %footer.footer.container
    %section.contact
      %h1 Contact details

      %p $ Email: ben@benconstable.co.uk

    %section.credits
      %p
        This site was built by Ben Constable in #{Time.new.year}, with a little help from:

      .logos
        %a{:href => 'http://rubyonrails.org/', :target => '_blank'}= image_tag 'rails-icon.png', :alt => 'Rails', :class => 'rails'

        %p.and and

        %a{:href => 'http://lesscss.org/', :target => '_blank'}= image_tag 'less-icon.png', :alt => 'LESS', :class => 'less'

      %p.thanks
        (Design by
        %a{:href => 'http://bengourley.co.uk', :target => '_blank'} Ben Gourley,
        see
        %a.humans{:href => '/humans.txt'} humans.txt
        )

= parent_layout 'application'
