<% content_for :body do %>

<header class="header container">

  <%= link_to image_tag('logo.png', :alt => 'Ben Constable'), root_path %>
  <p>All purpose programmer from Brighton, UK_</p>
  
  <ul class="nav">
    <li class="home"><%= link_to 'About me', root_path %></li>
    <li class="portfolio"><%= link_to 'Portfolio', portfolio_path %></li>
    <li class="cv"><%= link_to 'CV', cv_path %></li>
  </ul>
    
</header>

<div class="main-content-wrapper">
  <article class="main-content container">
  
    <%= yield :content %>
    
  </article>
</div>

<footer class="footer container">
  
  <section class="twitter">
    
    <%= image_tag 'twitter-icon.png', :alt => 'Twitter', :class => 'icon' %>
    
    <div class="tweet">
      <div class="arrow"></div>
      <p></p>
    </div>
    
    <p>- <a href="https://twitter.com/#!/brconstable" target="_blank">@brconstable</a></p>
    <p class="date">{% render "BenConstableSiteBundle:Twitter:latestTweetDays" with {'username': "brconstable"} %} days ago</p>
    
  </section>
  
  <section class="contact">
  
    <h1>Contact details</h1>
    
    <p>$ Email: ben@benconstable.co.uk</p>
    
  </section>
  
  <section class="credits">
    
    <p>This site was built by Ben Constable in 2011, with a little help from:</p>
    
    <div class="logos">
      <a href="http://symfony.com/" target="_blank">
        <%= image_tag 'symfony-icon.png', :alt => 'Symfony' %>
      </a>
      <p>and</p>
      <a href="http://lesscss.org/" target="_blank">
        <%= image_tag 'less-icon.png', :alt => 'LESS', :class => 'less' %>
      </a>
    </div>
    
    <p class="left">(Design by <a href="http://bengourley.co.uk" target="_blank">Ben Gourley</a>)</p>
    
    <p class="right"><a class="humans" href="/humans.txt">humans.txt</a></p>
    
  </section>
    
</footer>

<% end %>

<%= parent_layout 'application' %>